<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Design Studio</h2>
                <hr class="light">
                <p class="text-faded">{{ site.title }}  core services include web design, web development, maintenance, hosting, domain registration, email hosting, and professional technical support in Singapore. We also offer complementary services including social media marketing, digital advertising, and customer relationship management solutions.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
