<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who are we?</h2>
                <hr class="light">
                <p class="text-faded">Ace Badminton Academy provides structure and proven coaching sessions for beginners to advanced players in Singapore. We constantly encourage players to try their very best and allow them to develop confidence through interacting their teammates in a safe environment. </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
