<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Design Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 text-center">
                <div class="service-box">
<!--                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                    <img src="img/ken.jpg" class="img-responsive" alt="Responsive image">
                    <h3>Ken</h3>
                    <p class="text-muted">Manager</p>
                    <p class="text-muted">Ngee Ann Polytechnic Diploma in Automation & Mechatronic Systems</p>
                    <p class="text-muted">SIM-RMIT Bachelor of Business (Accountancy)</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 text-center">
                <div class="service-box">
                    <img src="img/kavan.jpg" class="img-responsive" alt="Responsive image">
                    <h3>Kavan</h3>
                    <p class="text-muted">Mentor</p>
                    <p class="text-muted">Nanyang Technological University Computer Science</p>
                    <p class="text-muted">Nanyang Junior College</p>
                    <p class="text-muted">10 years of web design experience</p>
                </div>
            </div>
        </div>
    </div>
</section>
