<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Friendly Coaches</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Kenneth Koh</h3>
                    <p class="text-muted">Manager</p>
                    <p class="text-muted">Assistant Coach</p>
                    <p class="text-muted">Fitness Trainer</p>
                    <p class="text-muted">More than 5 years of badminton experience</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Kavan Koh</h3>
                    <p class="text-muted">Senior Coach</p>
                    <p class="text-muted">2004 C Div 4th placing</p>
                    <p class="text-muted">2005 C Div 2th placing</p>
                    <p class="text-muted">2006 C Div 3th placing</p>
                    <p class="text-muted">2007 C Div 3th placing</p>
                    <p class="text-muted">NTU Hall 11 Badminton Captain (2015)</p>
                    <p class="text-muted">More than 20 years of badminton experience</p>
                </div>
            </div>
<!--            <div class="col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
<!--                    <h3>Kid Private Sessions</h3>-->
<!--                    <p class="text-muted">Up to 2 players. $70 per session.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 text-center">-->
<!--                <div class="service-box">-->
<!--                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
<!--                    <h3>Adult Private Sessions</h3>-->
<!--                    <p class="text-muted">Up to 2 players. $70 per session.</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
