<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Group Playing Sessions</h3>
                    <p class="text-muted">Hosting monday to thursdays</p>
                    <p class="text-muted">8pm - 10pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Junior Group Sessions</h3>
                    <p class="text-muted">2 hours, 4 sessions</p>
                    <p class="text-muted">$120 per month</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Junior Intermediate/Advanced Private Sessions</h3>
                    <p class="text-muted">$85 per month</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-steam wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Junior/Adult Private Sessions</h3>
                    <p class="text-muted">Up to 4 players</p>
                    <p class="text-muted">$65 per session</p>
                </div>
            </div>
        </div>
    </div>
</section>
