<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Design Packages</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Basic Corporate Website</h3>
                    <p class="text-muted">SGD 500</p>
                    <p class="text-muted">Up to 5 Pages</p>
                    <p class="text-muted">Mobile Optimisation</p>
                    <p class="text-muted">SEO Optimisation</p>
                    <p class="text-muted"> Developed locally in Singapore</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-tie wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Professional Corporate Website</h3>
                    <p class="text-muted">SGD 1000</p>
                    <p class="text-muted">Up to 12 Pages</p>
                    <p class="text-muted">Mobile Optimisation</p>
                    <p class="text-muted">SEO Optimisation</p>
                    <p class="text-muted"> Developed locally in Singapore</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cash-register wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>E-Commerce Website</h3>
                    <p class="text-muted">SGD 1500</p>
                    <p class="text-muted">Up to 12 Pages</p>
                    <p class="text-muted">Mobile Optimisation</p>
                    <p class="text-muted">SEO Optimisation</p>
                    <p class="text-muted"> Developed locally in Singapore</p>

                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Maintenance Packages</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-umbrella-beach wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Web Hosting</h3>
                    <p class="text-muted">SGD 30 per month</p>
                    <p class="text-muted">Web Hosting</p>
                    <p class="text-muted">DNS Hosting</p>
                    <p class="text-muted">Daily Backup</p>
                    <p class="text-muted">Server Maintenance</p>
                    <p class="text-muted">Security Update</p>
                    <p class="text-muted">Technical Support</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Web Hosting + Maintenance</h3>
                    <p class="text-muted">SGD 100 per month</p>
                    <p class="text-muted">Web Hosting</p>
                    <p class="text-muted">DNS Hosting</p>
                    <p class="text-muted">Daily Backup</p>
                    <p class="text-muted">Enterprise Server Maintenance</p>
                    <p class="text-muted">Enterprise Security Update</p>
                    <p class="text-muted">Technical Support</p>
                    <p class="text-muted">SSL Certificate</p>
                    <p class="text-muted">24/7 Monitoring</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-fort-awesome wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Web Hosting + Maintenance Pro</h3>
                    <p class="text-muted">SGD 180 per month</p>
                    <p class="text-muted">Web Hosting</p>
                    <p class="text-muted">DNS Hosting</p>
                    <p class="text-muted">Daily Backup</p>
                    <p class="text-muted">Enterprise Server Maintenance</p>
                    <p class="text-muted">Enterprise Security Update</p>
                    <p class="text-muted">Technical Support</p>
                    <p class="text-muted">SSL Certificate</p>
                    <p class="text-muted">24/7 Monitoring</p>
                    <p class="text-muted">10 hour Content Updates per month</p>
                    <p class="text-muted">Monthly Website Traffic Analytics Report</p>
                    <p class="text-muted">Free Website & DNS Migration Service</p>
                </div>
            </div>
        </div>
    </div>
</section>
